#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Styling for creating flashcards button */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #F2FCFC;
  border-radius: 10px;
  box-shadow: 0px 1px 17px -2px #BFEBF4;
  display: none;
}

.modal.open {
  display: block;
}

.modal-header {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  /* Adjusted margin */
  border: 1px solid #D6BCFD;
  border-radius: 5px;
  box-sizing: border-box;
  /* Ensure padding doesn't increase input width */
}

.modal-button {
  display: block;
  /* Center the button */
  width: 100%;
  /* Make button full width */
  padding: 10px;
  border: none;
  background-color: #BBEEFF;
  color: #2D2D55;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.modal-button:hover {
  color: #F4FBFD;
  background-color: #D6BCFD;
}