.flashcard {
  width: 200px;
  height: 120px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.flashcard-content {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  font-size: 20px;
}

.flashcard-front {
  border-radius: 22px;
  background: #FFF;

  box-shadow: 0px 1px 17px -2px #7D9ADD;
}

.flashcard-back {
  border-radius: 22px;
  background: #FFF;
  box-shadow: 0px 1px 17px -2px #7D9ADD;
  transform: rotateY(180deg);
}